@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');*{margin:0;padding:0;outline:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6,p,span{font-family:'Roboto', sans-serif}.\+{display:flex;align-items:center;justify-content:center}.\-,.\|{display:flex}.\-{align-items:center}.\|{justify-content:center}.\21\2d,.\21\7c,.\21\2b,.\21\5e,.\21\7e,.\21\3c,.\21\5f,.\21\3e{position:absolute;margin:auto}.\21\2d,.\21\2b,.\21\7e{right:0;left:0}.\21\7c,.\21\2b,.\21\7e{top:0;bottom:0}.\21\3c{left:0}.\21\5e{top:0}.\21\3e{right:0}.\21\5f{bottom:0}.push-right{float:right}.push-left{float:left}@media screen and (min-width: 700px){.col-1{--col: 1}.row-1{--row: 1}.col-2{--col: 2}.row-2{--row: 2}.col-3{--col: 3}.row-3{--row: 3}.col-4{--col: 4}.row-4{--row: 4}.col-5{--col: 5}.row-5{--row: 5}.col-6{--col: 6}.row-6{--row: 6}.col-7{--col: 7}.row-7{--row: 7}.col-8{--col: 8}.row-8{--row: 8}.col-9{--col: 9}.row-9{--row: 9}.col-10{--col: 10}.row-10{--row: 10}.col-11{--col: 11}.row-11{--row: 11}.col-12{--col: 12}.row-12{--row: 12}cols{grid-template-columns:repeat(12, auto);height:100%}rows{grid-template-rows:repeat(12, auto);width:100%;height:auto}cols .col-1.col-end{--col: calc((1 - 12) + 12) / calc(12 + 1)}cols .col-2.col-end{--col: calc((2 - 12) + 12) / calc(12 + 1)}cols .col-2.col-3{--col: 2 / calc(1 + 3)}cols .col-3.col-end{--col: calc((3 - 12) + 12) / calc(12 + 1)}cols .col-2.col-4{--col: 2 / calc(1 + 4)}cols .col-3.col-4{--col: 3 / calc(1 + 4)}cols .col-4.col-end{--col: calc((4 - 12) + 12) / calc(12 + 1)}cols .col-2.col-5{--col: 2 / calc(1 + 5)}cols .col-3.col-5{--col: 3 / calc(1 + 5)}cols .col-4.col-5{--col: 4 / calc(1 + 5)}cols .col-5.col-end{--col: calc((5 - 12) + 12) / calc(12 + 1)}cols .col-2.col-6{--col: 2 / calc(1 + 6)}cols .col-3.col-6{--col: 3 / calc(1 + 6)}cols .col-4.col-6{--col: 4 / calc(1 + 6)}cols .col-5.col-6{--col: 5 / calc(1 + 6)}cols .col-6.col-end{--col: calc((6 - 12) + 12) / calc(12 + 1)}cols .col-2.col-7{--col: 2 / calc(1 + 7)}cols .col-3.col-7{--col: 3 / calc(1 + 7)}cols .col-4.col-7{--col: 4 / calc(1 + 7)}cols .col-5.col-7{--col: 5 / calc(1 + 7)}cols .col-6.col-7{--col: 6 / calc(1 + 7)}cols .col-7.col-end{--col: calc((7 - 12) + 12) / calc(12 + 1)}cols .col-2.col-8{--col: 2 / calc(1 + 8)}cols .col-3.col-8{--col: 3 / calc(1 + 8)}cols .col-4.col-8{--col: 4 / calc(1 + 8)}cols .col-5.col-8{--col: 5 / calc(1 + 8)}cols .col-6.col-8{--col: 6 / calc(1 + 8)}cols .col-7.col-8{--col: 7 / calc(1 + 8)}cols .col-8.col-end{--col: calc((8 - 12) + 12) / calc(12 + 1)}cols .col-2.col-9{--col: 2 / calc(1 + 9)}cols .col-3.col-9{--col: 3 / calc(1 + 9)}cols .col-4.col-9{--col: 4 / calc(1 + 9)}cols .col-5.col-9{--col: 5 / calc(1 + 9)}cols .col-6.col-9{--col: 6 / calc(1 + 9)}cols .col-7.col-9{--col: 7 / calc(1 + 9)}cols .col-8.col-9{--col: 8 / calc(1 + 9)}cols .col-9.col-end{--col: calc((9 - 12) + 12) / calc(12 + 1)}cols .col-2.col-10{--col: 2 / calc(1 + 10)}cols .col-3.col-10{--col: 3 / calc(1 + 10)}cols .col-4.col-10{--col: 4 / calc(1 + 10)}cols .col-5.col-10{--col: 5 / calc(1 + 10)}cols .col-6.col-10{--col: 6 / calc(1 + 10)}cols .col-7.col-10{--col: 7 / calc(1 + 10)}cols .col-8.col-10{--col: 8 / calc(1 + 10)}cols .col-9.col-10{--col: 9 / calc(1 + 10)}cols .col-10.col-end{--col: calc((10 - 12) + 12) / calc(12 + 1)}cols .col-2.col-11{--col: 2 / calc(1 + 11)}cols .col-3.col-11{--col: 3 / calc(1 + 11)}cols .col-4.col-11{--col: 4 / calc(1 + 11)}cols .col-5.col-11{--col: 5 / calc(1 + 11)}cols .col-6.col-11{--col: 6 / calc(1 + 11)}cols .col-7.col-11{--col: 7 / calc(1 + 11)}cols .col-8.col-11{--col: 8 / calc(1 + 11)}cols .col-9.col-11{--col: 9 / calc(1 + 11)}cols .col-10.col-11{--col: 10 / calc(1 + 11)}cols .col-11.col-end{--col: calc((11 - 12) + 12) / calc(12 + 1)}cols .col-2.col-12{--col: 2 / calc(1 + 12)}cols .col-3.col-12{--col: 3 / calc(1 + 12)}cols .col-4.col-12{--col: 4 / calc(1 + 12)}cols .col-5.col-12{--col: 5 / calc(1 + 12)}cols .col-6.col-12{--col: 6 / calc(1 + 12)}cols .col-7.col-12{--col: 7 / calc(1 + 12)}cols .col-8.col-12{--col: 8 / calc(1 + 12)}cols .col-9.col-12{--col: 9 / calc(1 + 12)}cols .col-10.col-12{--col: 10 / calc(1 + 12)}cols .col-11.col-12{--col: 11 / calc(1 + 12)}cols .col-12.col-end{--col: calc((12 - 12) + 12) / calc(12 + 1)}.col-1.col-2{--col: 1 / calc(3)}.col-half{--col: 1 / 7}.row-half{--row: 1 / 7}.row-half-middle{--row: 7 / 13}.col-half-middle{--col: 7 / 13}.col-third{--col: 1 / 5}.row-third{--row: 1 / 5}.col-end{--col: 12}.row-end{--row: 12}}cols,rows{display:grid}[class*='col-']{grid-column:var(--col)}[class*='row-']{grid-row:var(--row)}.text-center{text-align:center}.relative{position:relative}
/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");*{margin:0;padding:0;outline:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6,p,span{font-family:'Roboto', sans-serif}.\+{display:flex;align-items:center;justify-content:center}.\-,.\|{display:flex}.\-{align-items:center}.\|{justify-content:center}.\21\2d,.\21\7c,.\21\2b,.\21\5e,.\21\7e,.\21\3c,.\21\5f,.\21\3e{position:absolute;margin:auto}.\21\2d,.\21\2b,.\21\7e{right:0;left:0}.\21\7c,.\21\2b,.\21\7e{top:0;bottom:0}.\21\3c{left:0}.\21\5e{top:0}.\21\3e{right:0}.\21\5f{bottom:0}.push-right{float:right}.push-left{float:left}@media screen and (min-width: 700px){.col-1{--col: 1}.row-1{--row: 1}.col-2{--col: 2}.row-2{--row: 2}.col-3{--col: 3}.row-3{--row: 3}.col-4{--col: 4}.row-4{--row: 4}.col-5{--col: 5}.row-5{--row: 5}.col-6{--col: 6}.row-6{--row: 6}.col-7{--col: 7}.row-7{--row: 7}.col-8{--col: 8}.row-8{--row: 8}.col-9{--col: 9}.row-9{--row: 9}.col-10{--col: 10}.row-10{--row: 10}.col-11{--col: 11}.row-11{--row: 11}.col-12{--col: 12}.row-12{--row: 12}cols{grid-template-columns:repeat(12, auto);height:100%}rows{grid-template-rows:repeat(12, auto);width:100%;height:auto}cols .col-1.col-end{--col: calc((1 - 12) + 12) / calc(12 + 1)}cols .col-2.col-end{--col: calc((2 - 12) + 12) / calc(12 + 1)}cols .col-2.col-3{--col: 2 / calc(1 + 3)}cols .col-3.col-end{--col: calc((3 - 12) + 12) / calc(12 + 1)}cols .col-2.col-4{--col: 2 / calc(1 + 4)}cols .col-3.col-4{--col: 3 / calc(1 + 4)}cols .col-4.col-end{--col: calc((4 - 12) + 12) / calc(12 + 1)}cols .col-2.col-5{--col: 2 / calc(1 + 5)}cols .col-3.col-5{--col: 3 / calc(1 + 5)}cols .col-4.col-5{--col: 4 / calc(1 + 5)}cols .col-5.col-end{--col: calc((5 - 12) + 12) / calc(12 + 1)}cols .col-2.col-6{--col: 2 / calc(1 + 6)}cols .col-3.col-6{--col: 3 / calc(1 + 6)}cols .col-4.col-6{--col: 4 / calc(1 + 6)}cols .col-5.col-6{--col: 5 / calc(1 + 6)}cols .col-6.col-end{--col: calc((6 - 12) + 12) / calc(12 + 1)}cols .col-2.col-7{--col: 2 / calc(1 + 7)}cols .col-3.col-7{--col: 3 / calc(1 + 7)}cols .col-4.col-7{--col: 4 / calc(1 + 7)}cols .col-5.col-7{--col: 5 / calc(1 + 7)}cols .col-6.col-7{--col: 6 / calc(1 + 7)}cols .col-7.col-end{--col: calc((7 - 12) + 12) / calc(12 + 1)}cols .col-2.col-8{--col: 2 / calc(1 + 8)}cols .col-3.col-8{--col: 3 / calc(1 + 8)}cols .col-4.col-8{--col: 4 / calc(1 + 8)}cols .col-5.col-8{--col: 5 / calc(1 + 8)}cols .col-6.col-8{--col: 6 / calc(1 + 8)}cols .col-7.col-8{--col: 7 / calc(1 + 8)}cols .col-8.col-end{--col: calc((8 - 12) + 12) / calc(12 + 1)}cols .col-2.col-9{--col: 2 / calc(1 + 9)}cols .col-3.col-9{--col: 3 / calc(1 + 9)}cols .col-4.col-9{--col: 4 / calc(1 + 9)}cols .col-5.col-9{--col: 5 / calc(1 + 9)}cols .col-6.col-9{--col: 6 / calc(1 + 9)}cols .col-7.col-9{--col: 7 / calc(1 + 9)}cols .col-8.col-9{--col: 8 / calc(1 + 9)}cols .col-9.col-end{--col: calc((9 - 12) + 12) / calc(12 + 1)}cols .col-2.col-10{--col: 2 / calc(1 + 10)}cols .col-3.col-10{--col: 3 / calc(1 + 10)}cols .col-4.col-10{--col: 4 / calc(1 + 10)}cols .col-5.col-10{--col: 5 / calc(1 + 10)}cols .col-6.col-10{--col: 6 / calc(1 + 10)}cols .col-7.col-10{--col: 7 / calc(1 + 10)}cols .col-8.col-10{--col: 8 / calc(1 + 10)}cols .col-9.col-10{--col: 9 / calc(1 + 10)}cols .col-10.col-end{--col: calc((10 - 12) + 12) / calc(12 + 1)}cols .col-2.col-11{--col: 2 / calc(1 + 11)}cols .col-3.col-11{--col: 3 / calc(1 + 11)}cols .col-4.col-11{--col: 4 / calc(1 + 11)}cols .col-5.col-11{--col: 5 / calc(1 + 11)}cols .col-6.col-11{--col: 6 / calc(1 + 11)}cols .col-7.col-11{--col: 7 / calc(1 + 11)}cols .col-8.col-11{--col: 8 / calc(1 + 11)}cols .col-9.col-11{--col: 9 / calc(1 + 11)}cols .col-10.col-11{--col: 10 / calc(1 + 11)}cols .col-11.col-end{--col: calc((11 - 12) + 12) / calc(12 + 1)}cols .col-2.col-12{--col: 2 / calc(1 + 12)}cols .col-3.col-12{--col: 3 / calc(1 + 12)}cols .col-4.col-12{--col: 4 / calc(1 + 12)}cols .col-5.col-12{--col: 5 / calc(1 + 12)}cols .col-6.col-12{--col: 6 / calc(1 + 12)}cols .col-7.col-12{--col: 7 / calc(1 + 12)}cols .col-8.col-12{--col: 8 / calc(1 + 12)}cols .col-9.col-12{--col: 9 / calc(1 + 12)}cols .col-10.col-12{--col: 10 / calc(1 + 12)}cols .col-11.col-12{--col: 11 / calc(1 + 12)}cols .col-12.col-end{--col: calc((12 - 12) + 12) / calc(12 + 1)}.col-1.col-2{--col: 1 / calc(3)}.col-half{--col: 1 / 7}.row-half{--row: 1 / 7}.row-half-middle{--row: 7 / 13}.col-half-middle{--col: 7 / 13}.col-third{--col: 1 / 5}.row-third{--row: 1 / 5}.col-end{--col: 12}.row-end{--row: 12}}cols,rows{display:grid}[class*='col-']{grid-column:var(--col)}[class*='row-']{grid-row:var(--row)}.text-center{text-align:center}.relative{position:relative}*/

/*# sourceMappingURL=awoo.min.css.map */

* {
    list-style: none;
}

:root {
    --accent: transparent;
    /*--bg: #091833;*/
    --done: #37eb94;
    --undone: #ff1b91; /*Color tarea no hecha*/
}



body {
    background-color: var(--bg);
    background-image: url(../images/Aesthetic2.png);
    /*backdrop-filter: blur(2px);*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
    
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23585858' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

::selection {
    background: #56e6ba;
}

#tabs,
#links,
#todo,
#todo .add,
#todo::after,
#todo .addTodo,
#panels .links,
.items item::before,
.items item::after,
#tabs ul li:last-child,
#panels, #panels ul,
#tabs .widgets {
    position: absolute;
}

#todo {
    right: 0;
    width: 350px;
    height: 100%;
}

#todo::after {
    content: '';
    display: block;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0); /*Color linea divisoria*/
    z-index: 4;
}

#todo .items h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 1.5em 0;
}

#todo .add {
    opacity: 0.03;
    top: 30px;
    left: -25px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(255, 255, 255), #d0d0d0);
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .15), 0 0 0 11px rgba(255, 255, 255, .05);
    transition: transform .2s, box-shadow .2s ease-in-out;
}

#todo .add.active {
    transform: rotateZ(45deg);
    background: linear-gradient(to bottom, rgb(255, 255, 255), #ffcaca);
}

#todo .add:hover {
    box-shadow: none;
    transform: scale(1.15);
}

#todo .add.active:hover {
    transform: scale(1.15) rotateZ(45deg);
}

.items {
    background: var(--bg);
    padding: 1em;
    box-sizing: border-box;
}

.items item[done] { --state: var(--done); }
.items item[undone] { --state: var(--undone); }

.items item {
    position: relative;
    width: 100%;
    padding: 1em 0 .5em 1em;
    max-height: 100px;
    border-radius: 2px;
    background: rgb(9, 130, 130, 0.0);
    box-shadow: inset 0 2px 0 var(--state),
    0 1px 0 0 rgba(0, 0, 0, 0),
    0 4px 0 0 rgba(9, 0, 12, 0),
    0 5px 0 rgba(0, 0, 0, 0),
    0 8px 0 0 rgba(0,0,0,0); /*#9f03fe;*/
    transitions: all .3s;
    animation: slide .4s ease;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.items item.remove {
    margin: -100% 0 0 0 !important;
    opacity: 0;
}

.items item p:not(.added-at) {
    color: #fff;
    font: 400 14px Oswald, sans-serif;
    max-width: 250px;
    word-wrap: break-word;
}

.items item:not(:last-child) {
    margin: 0 0 1em 0;
}

.items item::before {
    content: '';
    display: block;
    background: var(--bg);
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -22px;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 3px var(--state);
    z-index: 5;
    cursor: pointer;
    transition: transform .3s, background .3s;
}

.items item[done]::before {
    content: '\E876';
    color: var(--state);
    font-family: 'Material Icons';
    text-align: center;
    font-size: 11px;
}

.items item::after {
    content: '';
    display: block;
    left: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 1px;
    background: var(--state);
    transition: all .5s;
    opacity: .5;
}

.items item:hover::before {
    transform: scale(1.4);
}

.items item:hover::after {
    height: 0;
}

.items item:hover span {
    color: var(--state) !important;
}

.items item .added-at {
    font-size: 11px;
    letter-spacing: .5px;
    color: #929292; /*Color fecha creada tarea*/
    font-weight: 400;
}

.items item .added-at span {
    color: rgb(255, 255, 255); /*Color hora creada tarea*/
    font-weight: 700 !important;
    transition: color .2s;
}

.items item rows {
    height: 100%;
}

.items item .close {
    right: 20px;
    margin: .3em 0 0 0;
    width: 9px;
    height: 9px;
    background: url("../images/close.png") center no-repeat;
    outline: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    transition: all .3s;
}

.items item:hover .close {
    opacity: .5;
}

.items item .close:hover {
    opacity: 1;
    transform: scale(1.2);
}

#links {
    left: 0;
    width: calc(100% - 350px);
    height: 100%;
}

#links .nav {
    color: #fff;
}

#todo .addTodo {
    width: 100%;
    height: 100px;
    top: -110px;
    background: var(--bg);
    transition: top .5s;
    z-index: 1;
}

#todo .addTodo input[type="text"] {
    background: 0;
    outline: 0;
    border: 0;
    box-shadow: inset 0 -1px 0 #fff;
    padding: .5em 0;
    width: 70%;
    color: rgb(177, 26, 182); /*Color texto entrada de tarea*/
    font: 400 15px 'Roboto', sans-serif;
}

#todo .addTodo.active {
    top: 0;
}

#todo .addTodo input:focus {
    box-shadow: inset 0 -2px 0 rgb(28, 168, 145); /*Color linea inferior entrada de tarea*/
}


#tabs {
    bottom: 0;
    width: 90%;
    height: 30px;
    background: rgba(9, 130, 130, 0.315);
    margin: 2.5em 226px; /*Alineacion barra inferior*/
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(18, 60, 95, 0.25);
    overflow: hidden;
}

#tabs ul {
    counter-reset: tabs;
    margin: 0 0 0 2em;
    height: 100%;
}

#tabs ul li:not(:last-child)::after {
    content: counter(tabs, upper-roman);
    counter-increment: tabs;
    display: block;
}

#tabs ul li:not(:last-child) {
    width: 35px;
    text-align: center;
    font: 400 13px 'Roboto', serif;
    color: #bbb;
    padding: 6px 0;
    transition: all .1s;
}

#tabs ul li:last-child {
    --flavour: var(--accent);
    width: 35px;
    height: 3px;
    background: var(--flavour);
    bottom: 0;
    transition: all .1s;
}

#tabs ul li[active]:not(:last-child) {
    font-weight: 700;
    color: #fff; /*Indicador de pagina*/
    font-size: 16px;
    padding: 6px 0;
}

#tabs ul li[active]:nth-child(2) ~ li:last-child { margin: 0 0 0 35px; }
#tabs ul li[active]:nth-child(3) ~ li:last-child { margin: 0 0 0 70px; }

#panels {
    overflow: hidden;
    width: 90%;
    height: 550px;
    right: 0;
    left: -100px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .0);
    background: rgba(0,0,0,.0);
}

#panels ul {
    --panelbg: transparent;
    --flavour: var(--accent);
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    right: 100%;
    /*background: #fff url("../img/bg-1.gif") repeat center left fixed; opacity: 0.5;*/
    transition: all .6s;
}

#panels ul:nth-child(2),
#tabs ul li[active]:nth-child(2) ~ li:last-child {
    --flavour:rgba(0,0,0,0); /*#16a2a2;*/
}

#panels ul:nth-child(3),
#tabs ul li[active]:nth-child(3) ~ li:last-child {
    --flavour: rgba(0,0,0,0); /*#5b52e4;*/
}

#panels ul .links {
    box-shadow: inset -1px 0 var(--flavour);
}

/*#panels ul:nth-child(2) { background: #fff url("../img/bg-6.png") repeat center left fixed; opacity: 0.5}
#panels ul:nth-child(3) { background: #fff url("../img/bg-7.png") repeat center left fixed; opacity: 0.7}*/

#panels ul[active] {
    right: 0;
    z-index: 1;
}

#tabs .widgets {
    right: 0;
    margin: auto;
    height: 100%;
    padding: 0 2em;
    color: #fff;
    font-size: 12px;
    background: rgb(9, 130, 130, 0.0);
}

#tabs > cols {
    position: relative;
}

#tabs .time {
    font-weight: 700;
    margin-right: 1em;
}

#tabs .time span {
    font-weight: 400;
    color: rgb(255, 255, 255);
}

#tabs .weather {
    box-shadow: inset 1px 0 rgba(255, 255, 255, .1);
}

#tabs .weather p[temperature] {
    margin: 0 1em 0 1em;
    color: rgb(255, 255, 255);
}

#tabs i {
    font-size: 21px !important;
}

#tabs i[sunny] { color: #fd6697; }

#tabs i[cloudy] { color: #88d8d8; }

#panels .links {
    right: -100px;
    width: 90%;
    height: 100%;
    background: rgba(7, 248, 248, 0); /*#098282;*/ /*Color background tablero de enlaces*/
    padding: 5%;
    flex-wrap: wrap;
}

#panels .boards .links a {
    /*color: rgb(192, 30, 207);*/
    color:rgb(255, 255, 255);
    /*color: #7a1149;*/
    text-decoration: none;  
    /*font: 700 18px 'Roboto', sans-serif;*/
    font-family: 'Zilla Slab Highlight', cursive;
    font-style: bold;
    font-size: large;
    transition: all .2s;
    display: inline-block;
    padding: .4em .7em;
    background: rgba(174, 125, 190, 0.116);
    box-shadow: 0 3px rgb(16, 108, 161), 0 5px 10px #f0eaea00;
    border-radius: 2px;
    margin-bottom: .7em;
}

#panels .boards .links a:not(:last-child) { margin-right: .3em }

#panels .boards .links a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 #2b2b2b, 0 0 0 rgba(0, 0, 0, .5), 0 -4px 5px rgba(0, 0, 0, .1);
    color: #fff; /*Color de resalte de enlaces*/
}

#panels ul::after {
    content: attr(class);
    position: absolute;
    display: flex;
    text-transform: uppercase;
    overflow-wrap: break-word;
    width: 25px;
    height: 250px;
    padding: 1em;
    margin: auto;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
    left: calc(50% - 40%);
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .4);
    color: rgb(221, 9, 203); /*Color tittle panel*/
    letter-spacing: 1px;
    font: 100 30px 'Nunito', sans-serif;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    mix-blend-mode: overlay;
}

#panels .boards .links li:not(:last-child) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0); /* Color linea debajo de los enlaces */
    padding: 0 0 .5em 0;
    margin-bottom: 1.5em;
}

#panels .boards .links li h1 {
    color: rgba(6, 156, 202, 0.89); /*#383838; Color categoria de enlaces */
    font-size: 22px;
    margin-bottom: .5em;
    font-weight: 700;
    letter-spacing: 1px;
}

#panels .music li,
#panels .tech li {
    padding: .5em;
    /* display: inline; */
}

#panels .music li a, #panels .tech li a {
    color: grey;
    font: 700 16px 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

#panels .music li a:hover,
#panels .tech li a:hover {
    color: #fff;
}

#panels .music li a:hover::before,
#panels .tech li a:hover::before {
    display: inline;
}

#panels .music li a::before,
#panels .tech li a::before {
    content: '> ';
    font-weight: 400;
    display: none;
}

.weather .edit {
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31, .35);
    text-transform: uppercase;
    font: 600 11px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 0;
    margin: 40px 0 0 0;
    cursor: pointer;
    transition: all .2s;
}

.widgets:hover .edit {
    margin: 0;
}

.weather-config {
    width: 100%;
    height: 100%;
    background: rgba(9, 0, 12, .35);
    margin: -100% 0 0 0;
    transition: all .2s;
    z-index: 2;
}

.weather-config input[name="color"] {
    width: 100%;
    padding: .6em;
    border: 0;
    background: #3c2582;
    box-shadow: inset 0 -2px #fff;
    font: 500 12px 'Roboto', sans-serif;
    color: #fff;
}

.weather-config.show {
    margin: 0;
}

#search {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    top: -100%;
    transition: all .5s ease-in-out;
}

#search.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#search div {
    position: relative;
    width: 80%;
}

#search input {
    border: 0;
    outline: 0;
    width: 100%;
    box-shadow: inset 0 -2px #737373;
    padding: .5em 0;
    background: none;
    font: 500 22px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

#search input:focus {
    box-shadow: inset 0 -2px #fff;
}

#search input::selection {
    background: #000;
    color: #fff;
}

#search .close {
    background: 0;
    border: 0;
    outline: 0;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;
}

#search .close:hover {
    filter: opacity(.5);
}

.search-engines {
    list-style: none;
    color: #7d7d7d;
    display: block;
    display: flex;
    top: 50px;
    left: 0;
    margin: 1em 0 0 0;
}

.search-engines li p {
    cursor: default;
    transition: all .2s;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.search-engines li {
    margin: 0 1em 0 0;
}

.search-engines li.active {
    color: #fff;
    font-weight: 700;
}
